/*Primary selectors*/
/*styling for the body and table*/
body{
	background-color:#FFFFE0;
	color: #000;
	font-family: "Times New Roman", Times, serif;
	font-size: large;
}
h1 {
	color:maroon;
	margin-left: 20px;
}
table{
	width: 500px;
	border-collapse: collapse;
	table-layout: fixed;
}

td{
	vertical-align: top;
	padding: 5px;
	word-wrap: break-word;
}

/*IDs and classes*/
#fullpage{
	margin:100px;
}

.label_col{
	text-align: right;
}

.input_col{
	text-align: left;
}
.feedback_col{
	text-align: center;
	vertical-align: middle;
	color: LightGray;
	font-size: small;
}

.Button{
	margin: auto;
	text-align: center;
	width: 50px;
}

.buttonBG{
	background-color: LightGray;
	border-radius: 20px;
	padding: 5px;
}
